@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}


.container {
	font-family: 'Roboto', sans-serif;
	display: block;
	max-width: 1280px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	font-size: 0;
	margin-top: 63px;
	padding-bottom: 40px;
}

.logo-ramda {
	display: flex;
	color: #4BCAFF;
	font-size: 80px;
	text-decoration: none;
}

.logo-ra {
	color: #000000;
}

.menu {
	height: 69px;
	display: flex;
	background-color: rgba(53, 68, 79, 1);
	justify-content: center;
}


.menu-top {
	display: flex;
	justify-content: center;
	background-color: rgba(53, 68, 79, 1);
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 1);
	font-size: 27px;
	text-decoration: none;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.menu-top:hover {
	background: rgba(34, 47, 58, 1);
}

.center {
	display: flex;
	margin-top: 49px;
}

.menu-left-menu {
	border: 1px solid gray;
	width: 344px;
}


.menu-left {
	display: flex;
	text-align: left;
	text-decoration: none;
	font-size: 27px;
	padding-left: 44px;
	padding-top: 39px;
	padding-bottom: 40px;
	margin-bottom: 0;
	color: rgba(73, 88, 99, 1);
}


.menu-left:hover {
	background: rgba(219, 219, 219, 1);
	color: black;
	padding-left: 80px;
}


.images-menu {
	display: flex;
	border: 1px solid gray;
	width: 885px;
	height: 529px;
	margin-left: 100px;
	justify-content: center;
	align-items: center;
}

.images {
	display: flex;
	width: 300px;
	height: 340px;
}

.images-menu :hover {
	transform: scale(1.2);
	transition: transform 1s;
}

.paragraph {
	margin-left: 430px;
	margin-top: 40px;
	margin-bottom: 47px;
	font-size: 18px;
	line-height: 24px;
}

.footer-container {
	display: flex;
	background-color: rgba(99, 105, 110, 0.48);
	margin-bottom: 30px;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-container-menu {
	display: flex;
	margin-left: 25px;
}

.footer-menu {
	text-decoration: none;
	color: #0C1927;
	font-size: 28px;
	padding-right: 30px;
}


.footer-menu:hover {
	text-decoration: underline;
	color: #3181A6;
}

.footer-menu-logo {
	font-size: 24px;
}